.collection-form {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);

  // Cap form width for readability.
  max-inline-size: 32.5rem;

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
    justify-content: flex-end;
  }
}
