@use '../../../../../styles/mixins' as a;

:host {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.collections-page {
  &__grid {
    @include a.card-grid(17.5rem);

    gap: var(--space-lg);
  }

  &__item {
    @include a.card-grid-item;
  }
}
