@use '@angular/material' as mat;
@use 'theme-colors';

$font-sans:
  system-ui,
  -apple-system,
  'Segoe UI',
  roboto,
  sans-serif;

:root {
  @include mat.theme(
    (
      color: (
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
      typography: (
        plain-family: $font-sans,
        brand-family: $font-sans,
      ),
      density: 0,
    )
  );

  --font-sans: #{$font-sans};

  color-scheme: light dark;
}

:root[data-theme='light'] {
  color-scheme: light;
}

:root[data-theme='dark'] {
  color-scheme: dark;
}
